{% extends 'base.html' %}
 {% block content %}

<form action="calculate/" method="post">
    {% csrf_token %}
    <label>Enter First Number:</label> <input type="text" name="num1"><br><br>
    <label>Enter Second Number:</label> <input type="text" name="num2"><br><br>
    
    <label>Select your Operation:</label>
    <select name="operation">
        <option value="add">Addition</option>
        <option value="subtract">Subtraction</option>
        <option value="multiply">Multiplication</option>
        <option value="divide">Division</option>
    </select><br><br>

    <input type="submit" value="Calculate Result">
</form>

{% endblock %}